/*
COLORS

Primary: #2b715e;
Primary light: #16900e;
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-blue-light:#3b82c5;
  --color-primary: #35c32c;
  --color-primary-light:#2b715e;
  --color-primary-dark: #16900e;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
  --line:  1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0;
  transition: all 1s; }

.overlay {
  position: fixed;
  /* display: none; */
  opacity: 0.7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 35;
  cursor: pointer; }

html {
  scroll-behavior: smooth;
  font-family: raleway, sans-serif; }

body {
  transition: all 2s;
  background-color: #5f3bbf; }

.section__1 {
  height: 300vh;
  width: 100%;
  padding: 6rem;
  background: radial-gradient(circle at 100%, #000000, #23212145 50%, #c37878 75%, #866bd2 75%);
  background-size: 300%; }

.first_parse {
  display: flex;
  flex-wrap: wrap; }

.btn {
  transition: all 1s; }

.jt-modif {
  background-color: purple;
  background-color: white;
  color: black;
  animation: color-change 60s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  text-align: center;
  padding-top: 20vh;
  height: 70vh;
  margin: 0rem 4rem;
  margin-bottom: 10rem;
  box-shadow: none; }

.html {
  display: flex;
  align-items: center;
  flex: 50%;
  justify-content: center;
  align-self: start; }
  .html__img {
    max-width: 10%;
    margin: 5rem 1.5rem 4rem 5rem;
    cursor: pointer; }
  .html__img2 {
    max-width: 8%;
    margin: 5rem 1.5rem 4rem 7rem;
    cursor: pointer; }

.progress {
  width: 60%;
  background-color: transparent; }

@keyframes color-change {
  0% {
    background-color: #ffffff00;
    color: white; }
  30% {
    background-color: #ffffffad;
    box-shadow: 9px 9px 4px #000000;
    color: black; }
  100% {
    background-color: #ffffff00;
    box-shadow: none;
    color: white; } }

h2 {
  position: relative;
  margin: 0.5rem;
  padding: 0.5rem;
  margin-top: 5rem;
  margin-left: 47%;
  color: #c27778; }

.opacity {
  opacity: 0 !important; }

.anima {
  opacity: 1;
  transition: all 1s; }

.display-4 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.4; }

.myName {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4; }

.bg-warning {
  color: black; }

.bgSize {
  background-size: 200%; }

.bgSize2 {
  background-size: 100%; }

.second__parse {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.imgclass {
  height: 45%;
  width: 45%;
  margin: 1rem;
  box-shadow: 9px 9px 4px #1d1c1c;
  cursor: pointer; }
  .imgclass:hover {
    height: 46%;
    width: 46%; }

.sto {
  height: 100%;
  width: 100%; }

.smallimg {
  width: 3%;
  height: 3%;
  cursor: pointer; }

.mail {
  color: #ffffff; }

.first__paragraph {
  margin-top: -2rem; }

@media only screen and (max-width: 1000px) {
  .display-4 {
    font-size: 2rem; }
  .lead {
    font-size: 1.5rem; }
  .imgclass {
    height: 60%;
    width: 100%; }
    .imgclass:hover {
      height: 60%;
      width: 100%; }
  .first_parse {
    display: inline-block; }
  .mail {
    position: relative;
    top: 88rem; } }

@media only screen and (max-width: 690px) {
  .display-4 {
    padding-bottom: 4rem; }
  .codingS {
    margin-left: 25%; }
  .mail {
    position: relative;
    top: 22rem; }
  .imgclass {
    height: 30%; }
    .imgclass:hover {
      height: 30%; } }

.lead {
  padding-bottom: 4rem; }

.jumbotron {
  margin: 0rem;
  height: 80vh;
  width: 100%; }

@media only screen and (max-width: 500px) {
  h2 {
    margin-left: 14%;
    margin-bottom: 8.5rem; }
  .jumbotron {
    height: 50vh; }
  .imgclass {
    height: 20%; }
    .imgclass:hover {
      height: 20%; }
  .mail {
    position: relative;
    top: 8rem; }
  .first_parse {
    margin: -7rem;
    margin-left: -12rem; }
  .second__parse {
    width: 76%;
    margin-left: 20%; }
  .lead {
    display: none; }
  .progress {
    width: 30%; } }
